In [ ]:
import pandas as pd
import numpy as np

#new ML library

In [ ]:
!pip install creme

donload dataset from here https://www.kaggle.com/uciml/sms-spam-collection-dataset or https://archive.ics.uci.edu/ml/machine-learning-databases/00228/

In [ ]:
df = pd.read_csv('/content/Machine-Learning-Retraining-Approaches/smsspamcollection/SMSSpamCollection',sep='\t',names=['labels','messages'])

In [ ]:
df.head()

  labels                                           messages
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
df.shape

(5572, 2)

In [ ]:
from sklearn.model_selection import train_test_split
train,test = train_test_split(df,test_size=0.3,random_state=101)

In [ ]:
train.head()

     labels                                           messages
4028    ham      Yes, princess. Are you going to make me moan?
1310    ham            Ok, be careful ! Don't text and drive !
5469    ham                                            Ok lor.
5375    ham  I cant pick the phone right now. Pls send a me...
3814    ham              Pls i wont belive god.not only jesus.

convert dataframe to list of tuples

In [ ]:
SH_train = train.to_records(index=False)
SH_test = test.to_records(index=False)

In [ ]:
SH_train

rec.array([('ham', 'Yes, princess. Are you going to make me moan?'),
           ('ham', "Ok, be careful ! Don't text and drive !"),
           ('ham', 'Ok lor.'), ...,
           ('ham', 'Yo dude guess who just got arrested the other day'),
           ('ham', 'Shant disturb u anymore... Jia you...'),
           ('ham', "Why didn't u call on your lunch?")],
          dtype=[('labels', 'O'), ('messages', 'O')])

In [ ]:
import math
from creme import compose
from creme import feature_extraction
from creme import naive_bayes
import creme
model = compose.Pipeline(
    ('tokenize', feature_extraction.TFIDF(lowercase=False)),
    ('nb', naive_bayes.MultinomialNB(alpha=1))
)

#training accuracy

In [ ]:
%%time
from creme import metrics
train_metric=metrics.Accuracy()
for labels,messages in SH_train:
    model = model.fit_one(messages, labels)
    y_train_pred = model.predict_one(messages)
    train_metric = metric.update(labels, y_train_pred)

print(train_metric)

Accuracy: 99.55%
CPU times: user 1.07 s, sys: 0 ns, total: 1.07 s
Wall time: 1.08 s

#testing data accuracy

In [ ]:
%%time
from creme import metrics 
test_metric = metrics.Accuracy()
for labels,messages in SH_test:
  y_test_pred = model.predict_one(messages)
  test_metric = metric.update(labels,y_test_pred)
print(test_metric)

Accuracy: 99.37%
CPU times: user 301 ms, sys: 0 ns, total: 301 ms
Wall time: 302 ms